## Decision Tree

TamilSelvan 

Raja - Machine Learning Model - decision tree

1000 labelled dataset - training dataset

100 new data

Questions - what is author, which year published - attribute selection measures

Raja Predicts whether Tamil will like the book or not - Output / label - Like - YES/NO

## Problem Statement - Classify incoming data for kyphosis occurence (yes/no)

Link : http://www.stat.umn.edu/RegGraph/data/Kyphosis.lsp

#### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

#### Import Dataset

In [2]:
df = pd.read_csv('dataset/kyphosis.csv')
df.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15